@import "colors.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

* {
  box-sizing: border-box; /* Ensure padding and border do not affect element width */
}
