@import "../Colors.scss";
@import "../Fonts.scss";

.website-header {
  display: flex; // Flexbox für das horizontale Layout
  align-items: center; // Zentriert vertikal ausrichten
  justify-content: space-between; // Zentriert horizontal ausrichten
  padding: 0 1rem; // Padding links und rechts
  border-bottom: 2px solid $primary;

  .logo {
    display: flex; // Flexbox für das horizontale Layout
    align-items: center; // Zentriert vertikal ausrichten

    h1 {
      color: $primary; // Textfarbe für das Logo
      margin-right: 10px; // Abstand zwischen Logo und Strich
      text-decoration: none;
      margin: 0;
    }
    h1 #HeaderTitle {
      text-decoration: none;
      color: $primary;
      font-family: UnageoBold;
      font-size: 1.5em;
    }
  }

  .navigation {
    ul {
      list-style: none; // Keine Aufzählungspunkte anzeigen
      padding: 0;
      margin: 0;
      display: flex; // Flexbox für das horizontale Layout
      align-items: center; // Zentriert vertikal ausrichten

      li {
        margin-left: 20px; // Abstand zwischen den Navigationspunkten
        &:first-child {
          margin-left: 0; // Kein Abstand für das erste Element
        }

        a {
          position: relative;
          color: $foreground-light;
          text-decoration: none; // Keine Unterstreichung standardmäßig
          padding-bottom: 3px; // Platz für die Unterstreichung reservieren
          transition: padding-bottom 0.3s ease; // Übergangseffekt für die Unterstreichung
          font-family: UnageoRegular;
          font-size: large;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0; // Anfangszustand (unsichtbar)
            height: 2px; // Höhe der Unterstreichung
            background-color: white; // Farbe der Unterstreichung
            transition: width 0.3s ease; // Animation für die Breite des Unterstrichs
            transform-origin: left;
          }

          &:hover::after,
          &:focus::after {
            width: 100%; // Unterstrich vollständig anzeigen
          }
        }
      }
    }
  }
}
