@import "../Colors.scss";
@import "../Fonts.scss";

.website-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 2px solid var(--primary-color); // Use the primary color variable

  .logo {
    display: flex;
    align-items: center;

    h1 {
      color: var(--primary-color); // Use the primary color variable
      margin-right: 10px;
      text-decoration: none;
      margin: 0;
    }

    h1 #HeaderTitle {
      text-decoration: none;
      color: var(--primary-color); // Use the primary color variable
      font-family: UnageoBold;
      font-size: 1.5em;
    }
  }

  .navigation {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      li {
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }

        a {
          position: relative;
          color: var(--foreground-color); // Use the foreground color variable
          text-decoration: none;
          padding-bottom: 3px;
          transition: padding-bottom 0.3s ease;
          font-family: UnageoRegular;
          font-size: large;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--background-color); // Use the background color variable for the underline
            transition: width 0.3s ease;
            transform-origin: left;
          }

          &:hover::after,
          &:focus::after {
            width: 100%;
          }
        }
      }
    }
  }
}
