@import "../Colors.scss";
@import "../Fonts.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Full height of the viewport
  background-color: #f0f0f0; // Optional: Add a background color for better visibility

  .form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    min-width: 400px;
    max-width: 550px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

    .form-title {
      font-family: UnageoRegular;
      font-size: 1.5rem;
      line-height: 1.75rem;
      font-weight: 600;
      text-align: center;
      color: #000;
    }

    .input-container {
      position: relative;

      label {
        font-family: UnageoRegular;
      }

      input {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 8px 0;
        background-color: #fff;
        padding: 1rem;
        padding-right: 1rem; // Adjusted padding
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: calc(100% - 2rem); // Adjusted width to fit the container
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
    }

    button {
      outline: none;
      border: 1px solid #e5e7eb;
      margin: 8px 0;
      font-family: UnageoRegular;
    }

    .submit {
      display: block;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      background-color: #4f46e5;
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      width: 100%;
      border-radius: 0.5rem;
      text-transform: uppercase;
    }

    .signup-link {
      color: #6b7280;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
      font-family: MonaspaceNeonRegular;

      a {
        padding-left: 5px;
        text-decoration: underline;
        color: $primary-dark;
      }
    }
  }
}
