/* src/NotFound.scss */

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .not-found h1 {
    font-size: 6em;
    margin: 0;
  }
  
  .not-found p {
    font-size: 2em;
    margin: 0;
  }
  