.project {
    text-align: center;
    padding: 20px;
  
    .title {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    .grid-container {
      display: flex;
      justify-content: center; // Zentriert die Grid-Container horizontal
    }
  
    .grid {
      display: grid;
      gap: 20px; // Vergrößerter Abstand zwischen den Feldern
      justify-content: center;
  
      .grid-item {
        padding: 50px; // Erhöhter Innenabstand
        border: 2px solid white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box; // Damit Padding und Border in der Gesamtgröße enthalten sind
  
        .inner-grid-item {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
  
        .grid-item-content {
          width: 120px; // Breite erhöht
          height: 120px; // Höhe erhöht
          background-color: #eee;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #ccc;
          border-radius: 15px; // Abgerundete Ecken
        }
  
        .grid-item-title {
          margin-top: 15px; // Abstand zwischen Titel und Inhalt erhöht
          font-size: 1.2rem; // Schriftgröße erhöht
        }
      }
  
      .add-button {
        font-size: 1.2rem; // Schriftgröße des Buttons reduziert
        padding: 10px 20px; // Größe des Buttons reduziert
        border: 2px solid white;
        border-radius: 20px;
        cursor: pointer;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px; // Höhe des Buttons reduziert
        width: 80px; // Breite des Buttons reduziert
        box-sizing: border-box;
        transition: background-color 0.3s ease; // Smooth hover transition
  
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
  
      .no-projects {
        margin-top: 20px;
        p {
          font-size: 1.2rem;
          font-style: italic;
        }
      }
    }
  }
  