@font-face {
  font-family: UnageoRegular;
  src: url("/font/unageo/fonts/ttf/Unageo-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: UnageoBold;
  src: url("/font/unageo/fonts/ttf/Unageo-Bold.ttf");
  font-style: Bold;
}
